.primary {
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bgr-mob.jpg);
    background-color: $secondary-bg-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 0;
    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero-bgr-tab.jpg);
        }
    @media screen and (min-width: 1200px) {
        padding: 200px 0;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero.jpg);
    }
}
